<template bindable="router">
    <nav class="site-header sticky-top py-1">
        <div class="container">
            <ul class="nav flex-column flex-md-row justify-content-center">
                <li repeat.for="row of router.navigation" class="nav-item">
                    <a href.bind="row.href" class="${ row.isActive ? 'nav-link active' : 'nav-link' }">
                        ${row.title}
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</template>